*{
    margin: 0;
    padding: 0;
}

html{
    background-color: white;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(20, 20, 20, .70), rgba(20, 20, 20, .70)), url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
}

.navcon{
    background-color: transparent;
}

.navitem{
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.navitem:hover{
    border-bottom: 2px solid #f07f16;
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link{
    color:#f07f16;
}

.header-text{
    font-family: "Lato", "Verdana";
    background-color: transparent;
    color: #FFF;
}

.headermain{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.btn:link, .btn:visited{
    border: 1px solid #f07f16;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(207, 207, 207);
    margin-left: 15px;
}

.btn-full:link, .btn-full:visited{
    background-color: #f07f16;
}

.btn-full:hover, .btn-full:active{
    transition: .5s;
    background-color: #9c530e;
}

.btn-ghost:link, .btn-ghost:visited{
    color: #f07f16;
}

.btn-ghost:hover, .btn-ghost:active{
    transition: .5s;
    color: white;
    background-color: #9c530e;
}

.section1{
    min-height: 100vh;
    background-image: linear-gradient(rgba(220, 220, 220, .70), rgba(220, 220, 220, .70)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover; 
}

.cardcon{
    background-color: white;
    min-height: 600px;
    padding: 20px;
    box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
    -webkit-box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
    -moz-box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
}

.card h3{
    padding: 15px;
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
}

.card h4{
    padding: 15px;
    text-transform: uppercase;
    font-size: 85%;
    text-align: center;
    color: #f07f16;
    margin-bottom: 0;
}

.card p{
    font-size: 80%;
}

.btn-card:link, .btn-card:visited{
    border: 1px solid #f07f16;
    color: #f07f16;
    border-radius: 20px;
    font-size: 75%;
    padding: 5px 15px;
    margin-left: 33%;
}

.btn-card:hover, .btn-card:active{
    transition: .5s;
    color: white;
    background-color: #9c530e;
    text-decoration: none;
}

.section2{
    min-height: 90vh;
    background-color: rgb(223, 223, 223);
}

footer{
    min-height: 10vh;
    background-color: #1f1f1f;
}

.tech{
    padding-top: 70px;
    text-align: center;
    font-size: 200%;
    color: #f07f16;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.TS-name{
    color: #f07f16;
    font-size: 120%;
}

.TS-p{
    font-size: 70%;
}

.TSCard{
    margin-top: 20px;
}

.ft{
    color: white;
    font-size: 70%;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ft2{
    font-size: 90%;
    color: #FFF;
    padding: 20px;
    margin-bottom: 0;
}

.ft2 i{
    font-size: 120%;
    color: #f07f16;
    margin-right: 5px;
}

.rtbutton{
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
}

.rtbutton a:link,
.rtbutton a:visited{
   color:#f07f16;
}

@media(max-width: 800px){
    .navcon{
        background-color: #1f1f1f;
    }
    .btn{
        font-size: 0.8rem;
    }
    .header-text{
        margin-bottom: 0;
    }
    .headermain{
        font-size: 1.5rem;
    }
    .ft{
    
        font-size: 60%;
       
    }
    .ft2{
        font-size: 80%;
        text-align: center;
    }
    .TSCard{
        margin-top: 0;
    }
} 